.aboutcontent {
    font-size: 1.2em; /* Regular font size */
    line-height: 1.5; /* Improved line spacing */
    color: #ffffff; /* Yellow color */
    font-family: PT sans-serif;
}
#e {
    width:1000px;
    background-color: #111; /* Dark gray for contrast */
    padding: 20px; /* Padding around text */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 2px 4px 8px rgba(255, 204, 0, 0.5); /* Yellow shadow for effect */
}
#aboutcontent{

    color:white;
    font-family: PT sans-serif;
    font-size: 16px;
}
.abouthd{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
}
.abouthd:after{
    content:"";
    background: #ffc800;
    width:autopx;
    height:3px;
    display:block;
    font-family: sans-serif;
    bottom:20px;
}
.packagehd{
    font-size: 1.7em; /* Increase font size for emphasis */
    color: #fffffd; /* Yellow color */
    margin-bottom: px; /* Space below */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase for a strong appearance */
    letter-spacing: 1px; /* Slightly increase letter spacing */
}
.ourstoryhd{
    font-size: 1.7em; /* Increase font size for emphasis */
    color: #fffffd; /* Yellow color */
    margin-bottom: px; /* Space below */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase for a strong appearance */
    letter-spacing: 1px; /* Slightly increase letter spacing */
}
.ourstoryhd:after{
    content:"";
    background: #ffc800;
    width:470px;
    height:3px;
    display:block;
    font-family: sans-serif;
    bottom:20px;
}
.ourstorysubhd {
    padding-bottom: px;
    font-size: 1.6em; /* Large heading size */
    color: #f8c300; /* Yellow color */
    font-weight: bold; /* Bold font */
    font-family: sans-serif;
}

.ourstorycontent {
    font-size: 1.1em; /* Regular font size */
    line-height: 1.5; /* Improved line spacing */
    color: #ffffff; /* Yellow color */
    font-family: PT sans-serif;
}
#ourstoryimg{
    border-radius: 50%; /* Make the image circular */
    filter: grayscale(100%); /* Optional: convert image to black and white */
    transition: transform 0.3s; /* Smooth hover effect */
}

#ourstoryimg:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}
#ourstorybox{
    background-color: #111; /* Dark gray for contrast */
    padding: 20px; /* Padding around text */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(255, 204, 0, 0.5); /* Yellow shadow for effect */
}